<!DOCTYPE html>
<html lang="en" ng-app="filmApp">
<head>
	<meta charset="UTF-8">
	<title>Film App</title>

	<!-- JS Scripts -->
	<script 
	src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
	<script src="js/filmapp.js"></script>
		<script 
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.min.js">
	</script> 


	<!-- CSS Links-->
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/filmapp.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body ng-controller="filmCtrl">
	<div class="container text-center">
		<h1>{{appInfo.heading}}</h1>
	<div>
		<a class="btn-lg" 
		ng-href="{{appInfo.subHeading2.githubprofile}}" 
		target="blank" title="Yacub93"><i class="fa fa-github"></i></a>

		<a class="btn-lg" 
		ng-href="{{appInfo.subHeading2.linkedinprofile}}" 
		target="blank" title="Yacub Ali"><i class="fa fa-linkedin"></i></a>
	</div>

		<!-- Film Search filter -->
	<div class="form-section">
		<ng-form class="ng-pristine ng-valid" autocomplete="off">
			<div class="input-group add-on">
		      <input class="form-control" ng-model="formData.searchTerm" placeholder="Search..." type="text" autofocus="">
		      <div class="input-group-btn">
		        <button class="btn btn-default search" id="search" ng-click="getFilm(formData.searchTerm)"><i class="fa fa-search"></i></button>
		      </div>
		    </div>
		</ng-form>
	</div>

	</div>

	<div ng-controller='PanelController as panel'>
	<div class="nav-bar">
	    <ul class="nav nav-pills">
	      <li ng-class="{active: panel.isSelected(1) } ">
	        <a data-toggle="pill" class="nav-link fa fa-fire" ng-href="#pageHot" ng-click="panel.selectTab(1)"> Popular</a>
	      </li>
	      <li ng-class="{active: panel.isSelected(2) }">
	        <a data-toggle="pill" class="nav-link fa fa-globe" ng-href="#pageNowPlaying" ng-click="panel.selectTab(2)"> Now Playing</a>
	      </li>
	    </ul>
    </div>



<!-- Film Grid -->
 <!-- .pageOne -->
  <div id="Film" class="pageHot" ng-show='panel.isSelected(1)'>
    <!-- <div class="row"> -->
       <!-- <hr class="break"> -->
       <div class="row">
        <div class="col-md-3 film-item" ng-repeat="result in results">
          <!-- <div class="card"> -->
            <img ng-src="{{result.image}}" class="image">
              <div class="overlay">
    			<div class="text">
    				<h3>{{result.title}}</h3>
    			    <!-- <p>{{result.release |  date:  "dd.MM.y" : UTC+00:00 }}</p> -->
    			    <p>{{result.release |  date:  "yyyy" : UTC+00:00 }}</p>
    			</div>
  			  </div>
<!--             <div class="card-block">
               <div class="portfolio-caption">
                     <h4>{{result.title}}</h4>
                      <p id="small-text" class="text-muted">{{result.release}}</p>
               </div>
            </div> -->
          <!-- </div> -->
         </div>
       </div> 
    <!-- </div> -->
  </div> 
  <!-- .Close pageOne -->


<!-- Film Grid -->
 <!-- .pageTwo -->
  <div id="Film" class="pageNowPlaying" ng-show='panel.isSelected(2)'>
    <!-- <div class="row"> -->
       <!-- <hr class="break"> -->
       <div class="row">
        <div class="col-md-3 film-item" ng-repeat="result in results2">
          <!-- <div class="card"> -->
            <img ng-src="{{result.image}}" class="image">
              <div class="overlay">
    			<div class="text">
    				<h3>{{result.title}}</h3>
    			    <!-- <p>{{result.release |  date:  "dd.MM.y" : UTC+00:00 }}</p> -->
    			    <p>{{result.release |  date:  "yyyy" : UTC+00:00 }}</p>
    			</div>
  			  </div>
<!--             <div class="card-block">
               <div class="portfolio-caption">
                     <h4>{{result.title}}</h4>
                      <p id="small-text" class="text-muted">{{result.release}}</p>
               </div>
            </div> -->
          <!-- </div> -->
         </div>
       </div> 
    <!-- </div> -->
  </div> 
  <!-- .Close pageTwo -->
</div>




	
</body>
</html>