html, body{
	background-color: #ecf0f1;

}

* {
    box-sizing: border-box;
}

.header {
    font-family: 'Roboto Slab', serif;
/*    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    padding: 1rem;*/
    z-index: 1;
    position: fixed;
    clear: both;
    height: 50px;
    width: 100%;
    left: 0; right: 0;
    top: 0;
    color: white;
    background-color: #22313F;
}

/* Footer */
.copyright {
/*  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.5rem;*/
/*  position: fixed;
  height: 30px;
  clear: both;
  width: 100%;*/
  margin-top: 510px;
  background-color: #22313F;
  font-family: 'Montserrat', sans-serif;
  color: white;
  /*text-align: center;*/
}

.nav-bar{
/*	margin-right: 100px;
	margin-left: 600px;
  margin-bottom: 20px;*/

}

.nav-pills {
  	font-size: 1.4em;
	  margin-bottom: 10px;

}

a.nav-link:hover {
    background-color: #22313F;
}


a.nav-link{
	color: #2980b9;
}

#Film {
	margin-left: 250px;
}

/* Film Section */
#Film .film-item {

 margin:5px;
  /*background-color: white;*/
 border: 1px outset rgba(255, 255, 255, 0.6);
 width: 100%;
}

#Film .film-item:hover {
  transition: 0.5s;
  box-shadow: 5px 10px 5px rgba(0,0,0,0,0);
}

#Film .film-caption{
  /*max-width: 500px;*/
  margin: 0 auto;
  /*background-color: rgba(0,0,0, 0.8);*/
  text-align: center;
  /*padding: 25px;*/
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
}

.film-item:hover .overlay {
  opacity: 0.7;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/* Search Film Panel */
.lib-panel {
    margin-bottom: 20px;
    /*margin-left: 350px;*/

}
.lib-panel img {
    width: 100%;
    background-color: transparent;
    /*margin-left: 350px;*/
}

.lib-panel .row,
.lib-panel .col-md-6 {
    padding: 0;
    background-color: #FFFFFF;
}


.lib-panel .lib-row {
    padding: 0 20px 0 20px;
}

.lib-panel .lib-row.lib-header {
    background-color: #FFFFFF;
    font-size: 20px;
    padding: 10px 20px 0 20px;
}

.lib-panel .lib-row.lib-header .lib-header-seperator {
    height: 2px;
    width: 26px;
    background-color: #d9d9d9;
    margin: 7px 0 7px 0;
}

.lib-panel .lib-row.lib-desc {
    position: relative;
    height: 100%;
    display: block;
    font-size: 13px;
}
.lib-panel .lib-row.lib-desc a{
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 20px;
}

/* film card alignment*/
.row-margin-bottom {
    margin-bottom: 20px;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 40%;
    left: 40%;
    right: 50%;
    margin: -100px 0 0 -150px;
}

.box-shadow {
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
    box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
}

.no-padding {
    padding: 0;
}

/* ABOUT Section */
.main-container{
    position: fixed;
    width: 100%;
    /*z-index: 100;*/
    top: 40%;
    left: 40%;
    right: 50%;
    margin: -100px 0 0 -150px;
        
        
    }
.highlight  {
    width: 600px;
    color: white;
    /*background: rgba(0, 0, 0, 0.26);*/
    background-color: #22313F;
    border-radius: 10px;
    padding: 3%;
    
  }
    
.highlight img {
    
    float: left;
    width: 100px;
    height: 100px; 
    margin: 10px;
    }
    
.highlight ul {
    margin-left: 1%;
    float: left; 
    clear: right
    }
    
.highlight button {
   margin-left: 1%;
    float: right;
    }

.highlight h3,h4,h5,h6 {
    padding-bottom: 1%;
    border-bottom: 2px dashed rgba(255, 255, 255, 0.41);
    font-size:20px;
    text-align : center;
    text-transform: uppercase;
    }
    
.highlight p {
    text-align: justify;
    }

.fa.fa-github{
  font-size:60px;
  color:#27ae60;
}

.fa.fa-linkedin{
  font-size:60px;
  margin-bottom: 20px;
  color:#27ae60;
}

.fa.fa-github:hover{
  color: #6e5494;
}

.fa.fa-linkedin:hover{
  color: #0077B5 ; 
}

a.btn-lg.btn-primary.ng-binding {
  background-color: #B0CF00;
  color: #ffffff;
  margin: 5px;


}

a.btn-lg.btn-primary:hover{
  background-color: #003B2B;
}


/* Favourite button */
.fa.fa-plus:hover{
  color: #2ecc71; 
}

.fa.fa-trash{
  font-size:50px;
  margin-left: 180px;
}

.fa.fa-trash:hover{
  color: #c0392b; 
}

/*.fa.fa-check{
  font-size:30px;
}*/
.fa.fa-check:hover{
  color: #2ecc71; 
}

.fa.fa-bars{
  font-size:40px;
  position:absolute;
  right: 3px;

  text-decoration: none;
  color: white;
}
.fa.fa-bars:hover{
  color: #F7CA18; 
}

.fa.fa-fire{
  font-size:35px;
  color: #2c3e50;
}
.fa.fa-fire:hover{
  color: #F7CA18; 
}

.fa.fa-globe{
  font-size:35px;
  color: #2c3e50;
}
.fa.fa-globe:hover{
  color: #F7CA18; 
}




.view{
  background-color:#27ae60;
  border-color: #27ae60;
}

/* Input search box */
md-content.md-padding._md.flex{
  background-color: #22313F;
  margin-top: 10px;
}


/* Watch List CSS */


.container {
  padding: 20px;
}

.profile-card {
  background-color: #22313F;
  margin-bottom: 20px;

      
    }
        
.profile-info {
    color: #BDBDBD;
    padding: 25px;
      position: relative;
      margin-top: 15px;
}
    
.profile-info h2 {
  color: #E8E8E8;
    letter-spacing: 4px;
    padding-bottom: 12px;
}
        
.profile-info span {
  display: block;
    font-size: 12px;
    color: #4CB493;
  letter-spacing: 2px;
}

.profile-info a {
   color: #4CB493;
}
.profile-info i {
      padding: 15px 35px 0px 35px;
}
    

.profile-card:hover .profile-pic {
  
  transform: scale(1.1);
}

.profile-card:hover .profile-info hr  {
  opacity: 1;
    }
    
    
    
    
/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 52%;
  right: 52%;
  bottom: 0;
  background: #FFFFFF;
  border-radius: 50%;
  height: 3px;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.profile-card:hover .hvr-underline-from-center:before, .profile-card:focus .hvr-underline-from-center:before, .profile-card:active .hvr-underline-from-center:before {
  left: 0;
  right: 0;
  height: 1px;
  background: #CECECE;
}

.center-card{
  /*border-radius: 50%;*/
  display:inline-block;
  /*top: -65px;*/
  margin-left: 320px;
  /*right: 0;*/
  /*margin: auto;*/
  /*z-index: 1;*/
  /*max-width: 100px;*/
/*  -webkit-transition: all 0.4s;
      transition: all 0.4s;*/
}
#savedPoster{
  margin-top: 10px;
  width: 50%;
  /*height: 100%;*/
}

/* CSS used here will be applied after bootstrap.css */
  

input.faChkRnd, input.faChkSqr {
  visibility: hidden;
}

input.faChkRnd:checked:after, input.faChkRnd:after,
input.faChkSqr:checked:after, input.faChkSqr:after {
  visibility: visible;
  font-family: FontAwesome;
  font-size:50px;width: 32px;height: 44px;
  position: relative;
  top: 60px;
  right: 100px;
  color:#00B16A;
  padding-bottom: 5px;
  display: inline-block;
}

input.faChkRnd:checked:after {
  content: '\f058';
}

input.faChkRnd:after {
  content: '\f10c';
}

input.faChkSqr:checked:after {
  content: '\f14a';
}

input.faChkSqr:after {
  content: '\f096';
}


