<!-- 		</div>
	</div> -->

	<div ng-controller='PanelController as panel'>
	<div class="nav-bar">
	    <ul class="nav nav-pills">
	      <li ng-class="{active: panel.isSelected(1) } ">
	        <a data-toggle="pill" class="nav-link fa fa-fire" ng-href="#pageHot" ng-click="panel.selectTab(1)">Popular</a>
	      </li>
	      <li ng-class="{active: panel.isSelected(2) }">
	        <a data-toggle="pill" class="nav-link fa fa-globe" ng-href="#pageNowPlaying" ng-click="panel.selectTab(2)">Now Playing</a>
	      </li>
	    </ul>
    </div>



<!-- Film Grid -->
 <!-- .pageOne -->
  <div id="Film" class="pageHot" ng-show='panel.isSelected(1)'>
       <div class="row">
        <div class="col-md-3 film-item" ng-repeat="result in results">
            <img ng-src="{{result.image}}" class="image">
              <div class="overlay">
    			<div class="text">
    				<h3>{{result.title}}</h3>
    			    <!-- <p>{{result.release |  date:  "dd.MM.y" : UTC+00:00 }}</p> -->
    			    <p>{{result.release |  date:  "yyyy" : UTC+00:00 }}</p>
    			</div>
         </div>
       </div> 
  </div> 
  <!-- .Close pageOne -->


<!-- Film Grid -->
 <!-- .pageTwo -->
  <div id="Film" class="pageNowPlaying" ng-show='panel.isSelected(2)'>
       <div class="row">
        <div class="col-md-3 film-item" ng-repeat="result in results2">
            <img ng-src="{{result.image}}" class="image">
              <div class="overlay">
    			<div class="text">
    				<h3>{{result.title}}</h3>
    			    <!-- <p>{{result.release |  date:  "dd.MM.y" : UTC+00:00 }}</p> -->
    			    <p>{{result.release |  date:  "yyyy" : UTC+00:00 }}</p>
    			</div>
         </div>
       </div> 
  </div> 
  <!-- .Close pageTwo -->
<!-- </div> -->
    </div>
    <!-- /#wrapper -->