 <!-- .Single View -->
		<!-- Film Search autocomplete -->
<div layout="row" ng-controller="SearchController as ctrl">
      <md-content class="md-padding" flex>
            <div layout-gt-sm="row">
          <md-autocomplete 
          	  placeholder="Search films in theaters" 
              flex=""
              md-autofocus="true"
              md-autoselect="true"
              md-clear-button="true"
              md-select-on-match=true
              md-no-cache="ctrl.noCache"
              md-items="item in ctrl.querySearch(ctrl.searchText)"
              md-item-text="item"
              md-search-text="ctrl.searchText"
              md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
              md-selected-item-change="ctrl.selectedItemChange(item)"
              md-selected-item="ctrl.selectedItem"
              md-min-length="2">
            <md-item-template>
              <span class="item">
                <span md-highlight-flags="^i" md-highlight-text="ctrl.searchText">
                  {{item}}
                </span>
              </span>
            </md-item-template>
            <md-not-found>
              No match found.
            </md-not-found>
          </md-autocomplete>
          </div>
      </md-content>
</div>

<br><br><br><br>


<!--Card-->
<div class="card" ng-repeat="result in filmInfo">
    <img class="img-fluid" ng-src="{{ result.poster }}">
    <!--Card image-->
<!--     <div class="view overlay hm-white-slight">
        
        <a href="#">
            <div class="mask waves-effect waves-light"></div>
        </a>
    </div> -->
    <!--/.Card image-->

    <!--Card content-->
    <div class="card-block">
        <!--Title-->
        <h4 class="card-title">{{ result.title }}</h4>
        <!--Text-->
        <p class="card-text">{{ result.info }}</p>
        <ul class="card-text">
            <li>Release: {{result.release |  date:  "dd.MM.y" : UTC+00:00 }}</li>
            <li>Genre: {{ result.genres }}</li>
        </ul>
        <a href="#" class="btn btn-primary">View More</a>
    </div>
    <!--/.Card content-->

</div>
<!--/.Card-->










<!-- 
<div id="singleFilm">
    <div class="row">
        <div class="col-md-3">
            <div class="overlay">
    			<div class="items" ng-repeat="result in filmInfo">
            <h3 class="text-center">{{ result.title }}</h3>
            <h4 class="text-center">{{result.release |  date:  "dd.MM.y" : UTC+00:00 }}</h4>
            <p class="text-center">{{ result.info }}</p>
              <img ng-src="{{result.poster}}">
    			</div>
         	</div>
       </div> 
    </div> 
</div> -->
  <!-- .Close Single View -->
</div>
<!-- /#wrapper -->