 <!-- .Single View -->
		<!-- Film Search autocomplete -->
<div layout="row" ng-controller="SearchController as ctrl">
      <md-content class="md-padding" flex>
            <div layout-gt-sm="row">
          <md-autocomplete 
          	  placeholder="Search films in theaters" 
              flex=""
              md-autofocus="true"
              md-autoselect="true"
              md-clear-button="true"
              md-select-on-match=true
              md-no-cache="ctrl.noCache"
              md-items="item in ctrl.querySearch(ctrl.searchText)"
              md-item-text="item"
              md-search-text="ctrl.searchText"
              md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
              md-selected-item-change="ctrl.selectedItemChange(item)"
              md-selected-item="ctrl.selectedItem"
              md-min-length="2">
            <md-item-template>
              <span class="item">
                <span md-highlight-flags="^i" md-highlight-text="ctrl.searchText">
                  {{item}}
                </span>
              </span>
            </md-item-template>
            <md-not-found>
              No match found.
            </md-not-found>
          </md-autocomplete>
          </div>
      </md-content>
</div>

<br><br><br><br>

<!-- <div id="singleFilm">
    <div class="row">
        <div class="col-md-3 film-item">
            <img ng-src="{{result.image}}" class="image">
            <div class="overlay"> -->
    			<div class="items" ng-repeat="result in filmInfo">
    				<!-- <h3>{{result.title}}</h3> -->
    			    <!-- <p>{{result.release |  date:  "dd.MM.y" : UTC+00:00 }}</p> -->
    			    <!-- <p>{{result.release |  date:  "yyyy" : UTC+00:00 }}</p> -->
    			    <!-- <h2 class="text-center">Film Title: {{ filmInfo.values["title"]}}</h2> -->
              <!-- <h2 class="text-center">Film Title: {{ results }}</h2> -->
              <h5 class="text-center">{{ result.title }}</h5>
              <h5 class="text-center">{{result.release |  date:  "dd.MM.y" : UTC+00:00 }}</h5>
              <p class="text-center">{{ result.info }}</p>
              <img class="text-center" ng-src="{{result.poster}}">
    			</div>
<!--          	</div>
       </div> 
    </div> 
</div> -->
  <!-- .Close Single View -->
</div>
<!-- /#wrapper -->