<h4>{{Title}}</h4>
<div class="center-card">

        <div class="col-md-8" ng-repeat="film in chosenFilm">
          <div class="profile-card text-center">
            <img id="savedPoster" class="img-responsive" ng-src="{{film.poster}}">
            <div class="profile-info">
              <h2 class="hvr-underline-from-center">{{film.title}}<span>{{film.release |  date:  "dd.MM.y" : UTC+00:00 }}
              </span></h2>
              <h2 class="hvr-underline-from-center"><span>
              {{film.genres}}</span></h2>
              <div>{{film.overview}}</div>

                
      	


<!-- <div class="demo"> -->
<input type="checkbox" ng-model="checkBoxes[$index]" ng-change="valueChange($index)" 
 class="faChkSqr" ng-click="markAsWatched(film._id,film.marked)">  
<!-- </div>   -->




	<!-- <input type="checkbox" ng-model="checkBoxes[$index]" ng-change="valueChange($index)"
	ng-click="markAsWatched(film._id,film.marked)"> -->
    
    <pre>{{checkBoxes}}</pre>

              <!-- <a><i ng-style="customStyle.style" class="fa fa-check fa-2x"></i></a> -->





			<!-- <label class="btn-checkbox"> -->
		<!-- <p ng-repeat="checkBoxes in checkBoxes track by $index"> -->
 <!--  	   <input type="checkbox" ng-model="checkBoxes[$index]" 
          ng-click="markAsWatched(film._id,film.marked)" /> -->
	   <!-- </p>		 -->
				<!-- <i class="fa fa-check fa-2x"></i> -->
			<!-- </label> -->
	<!-- 		<button ng-model="settings.marked[$index]" ng-change="alert($index)" ng-click="markAsWatched(film._id,film.marked)"></button> -->
<!-- 		<a class="btn btn-primary" btn-checkbox ng-model="settings.marked" ng-click="markAsWatched(film._id,film.marked)">Button</a> -->
			

				
<!--               <a ng-model="settings.marked" btn-checkbox ng-click="markAsWatched(film._id,film.marked)"><i ng-style="customStyle.style" class="fa fa-check fa-2x"></i></a> -->

              <a ng-click="deleteFilm(film._id,film.title)">
                <i class="fa fa-trash fa-2x"></i></a>

            </div>

          </div>
        </div>







</div>
<!-- /#wrapper